header {
    
    background-color: #00AFF2;
    padding-top: 20px;
    padding-left: 50px;
    
    min-height: 150px;
    min-width: 100%;
}

#page {
    min-height: 2200px;
    
}
#side_bar_north_button{
    position: absolute;
    margin-left: 50%;
    margin-right: auto;
    background-color: black;
    min-height: 40px;
    max-width: 40px;
    border-radius: 50px;
    margin-top: -20px;
    
    min-width: 40px;
    opacity: 0.2;
}
#side_bar_north{
    
    display: none;
    min-height: 100px;
    min-width: 100%;
    background-color: gray;
}
#panel1{
    position: relative;
    float: left;
    
    
}
#searchfield {
    margin-top: 30px;
    margin-left: 10px;
    display: none;
    position: relative;
    float: left;
    
}
#searchfield_label{
    color: #F1F1F1;
     margin-top: 30px;
    margin-left: 10px;
    float: left;
    min-width: 45px;
    
}
#seach_button{
    color:white;
    padding-top: 4px;
    font-size: 10px;
    text-align: center;
    float: left;
     margin-top: 27px;
    margin-left: 10px;
    min-height: 20px;
    min-width:  40px;
    background-color: #00AFF2;
    border-radius: 20px;
}

#sort_label{
    color: #F1F1F1;
      float: left;
    clear: both;
     margin-left: 10px;
    margin-top: 10px;
    min-width: 45px;
}
#sort_list{
    float: left;
    
    margin-left: 10px;
    margin-top: 10px;
}
#panel_2{
    position: relative;
    float: left;
    margin-left: 150px;
    
}
#filter_icon{
    float: left;
}
#filter_label{
    float: left;
}

#sidebar_west {
    position: fixed;
    float: left;
    
    margin-top: 50px;
    min-width: 200px;
    min-height: 500px;
    max-height: 600px;
    margin-bottom: 200px;
    background-color: #00AFF2;
    border-top-right-radius: 30px;
    border-bottom-right-radius:  30px;

}
#sidebar_west_button_pane{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    min-height: 300px;
    min-width: 160px;
    max-width: 160px;
}
.sidebar_west_button1{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-width: 30px;
    min-height: 50px;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
    color: gray;
    font-family: sans-serif;
    text-align: center;
    line-height: 70px;
    cursor: pointer;

    }
.sidebar_west_button1:hover {
    color: black;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
}
.sidebar_west_button1_actually{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-width: 30px;
    min-height: 50px;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
    font-size: 20px;
    font-family:sans-serif;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.50);

    }
.sidebar_west_button1_actually:hover{
    color: gray;
}

.sidebar_west_button2{
    
    
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-width: 30px;
    min-height: 50px;
    border-radius: 20px;
    background-color: white;
    z-index: 2;
    font-family: sans-serif;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
     color: gray;
}
.sidebar_west_button2:hover {
    color: black;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
}


#change_sidebar_west_button{
    background-image:url(changeContextBirdRight.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 30%;
    margin-right: auto;
    color: black;
    min-height: 50px;
    
    padding-left: 3px;
    margin-top: 50px;
    
    
   
    min-width: 20px;
    max-width: 60px;
    border-radius: 10px;
    cursor: pointer;
    
    
}
#change_sidebar_west_button:hover {
    min-height: 90px;
     min-width: 90px;
    
}
#tweets{
    position: relative;
    margin-left: 300px;
    margin-top: 50px;
    float: left;
}
.tweet{
	
	float: left;
	min-height:500px;
	min-width: 800px;
	margin-top: 30px;
	
	border-bottom: 10px;
	
}
.tweet_title{
	color: #00AFF2; 
	font-size: 18px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.tweet_text{
	font-family: 'Rubik', sans-serif;
	color: black; 
	clear: both;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	max-width: 400px;
}
footer{
    
   min-height: 200px;
    min-width: 100%;
    background-color: gainsboro;
}

.pressed {
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.50);
}