#header {
	background: linear-gradient(to right, #00284d, #99ffff);
	min-height: 10px;
	
}


#logo {
	display: none;
	float: left;
	background-image: url(../Picture/colibri.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 30px;
	min-height: 80px;
	min-width: 250px;
}

nav {
	background-color: #113955;
	min-width: 100%;
	min-height: 100px;
	max-height: 100px;
	font-size: 14px;
}

nav ul li:hover>ul {
	display: block;
	
}

nav ul {
	display: none;
	background: rgba(0, 0, 0, 0);
	padding: 0 0px;
	border-color: white;
	border-top-width: thin;
	border-top-style: outset;
	border-bottom-width: thin;
	border-bottom-style: outset;
	list-style: none;
	position: relative;
	margin-left: 10%;
	margin-top: 40px;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	z-index: 5;
	float: left;
	font: 15px arial, sans-serif;
}

nav ul li:hover a {
	z-index: 4;
	color: #cbf0fc;
	border-radius: 20px;
	
}

nav ul li a {
	z-index: 4;
	display: block;
	padding: 5px 40px;
	color: white;
	text-decoration: none;
}
/* navigation end  */
nav ul2 {
	display: block;
	float: left;
	clear:both;
	margin-top: 20px;
	background-image: url(../Picture/menuIcon.png);
	min-width: 50px;
	min-height: 50px;
	
	z-index: 4;
}

nav ul2 li {
	display: none;
	z-index: 5;
}

nav ul2:hover>li {
	display: block;
	z-index: 5;
}

nav ul2:hover {
	background-image: none;
	background-color: #113955;
	margin-top: 0;
}

nav ul2 li a {
	z-index: 4;
	display: block;
	padding: 5px 40px;
	color: white;
	text-decoration: none;
}

nav ul2 li:hover a {
	z-index: 4;
	color: #edf8fd;
	border-radius: 20px;
	background-color: black;
}

a {
	color: #edf8fd;
	text-decoration: none;
}

@media screen and (min-width: 1340px) {
	nav ul {
		display: inline-table;
	}
	
	nav ul2 {
		display: none;
	}
	#logo {
		display: block;
	}
}