#header_deko{
	background: linear-gradient(to right, #00284d, #99ffff);
    min-height: 10px;
	
}

header {
    
    background: linear-gradient(to right, #00284d, #99ffff);
    
    min-height:230px;
    min-width: 100%;
}

body {
	background: linear-gradient(#ffffff, #d2edf9);
	font-family: "Segoe UI", sans-serif; 
	font-size: 14px;
}

#logo{
	
   	display:none;
    float: left;
    background-image: url(../Picture/colibri.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 30px;
    min-height: 150px;
    min-width: 250px;
                        
                    
}
        
#login_panel{
   
    border-radius: 20px;
    position: relative;
    float: right;
    margin-top: 2px;
    padding-right:60px;
    margin-right: 60px;
    min-width: 300px;
    max-width:300px;
      
}

#login_title{
    position: relative;
    float: left;
    clear:right;
    color: #113955;
    margin-top: 4px;
    margin-left: 10px;  
}

#password_label{
    position: relative;
    float: left;
    clear: left;
    margin-top: 15px;
    margin-left: 10px;
    
}

#textfield_password{
    position: relative;
    float: left;
    margin-top: 15px;
     margin-left: 10px;
}

#loginButton{
    float: left;
    color: white;
    background-color: #113955;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    margin-left: 91px;
    min-height: 30px;
    width: 66.5%;
    max-height:70%;
    cursor:pointer;
}

#new_account{
    position: relative;
    float: left;
    color: #113955;
    clear: left;
    margin-top: 5px;
    margin-left: 91px;
    font-size:12px;
    cursor:pointer;
}

#loginButton:hover {
    background-color: #031e3d;
}
#page {
    min-width: 100%;
    min-height: 2200px;
    
}
#animation{
    position: relative;
     
    background-color: black;
    min-width: 100%;
    min-height: 1000px;
}
#animation2{
    position: relative;
    min-width: 100%;
    min-height: 1000px;
    background: linear-gradient(#ffffff, #d2edf9);
}

#bird_pic{
    display: none;
    background-image: url(../Picture/birdcarrypost.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    min-height: 500px;
    min-width: 400px;
    max-width: 400px;
    margin-top: 60px;
    margin-left: 120px;
    
}

#runningMail_pic{
    display: none;
    background-image: url(../Picture/runningmailbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    min-height: 300px;
    min-width: 300px;
    margin-top: 360px;
    margin-left: 560px;
}

#text_comic{
    color: white;
    position: absolute;
    margin-top: 300px;
    margin-left: 500px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 10px;
}

#createAccount{
	display:none;
	float:left;
	margin-top:100px;
	margin-left:200px;
	min-width:300px;
	max-width:300px;
	min-height: 400px;
}

#passwd_line{
	height: 6px;
	width: 25%;
	background-color: white;
	margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[id=textfield_benutzer],select{
	float:left;
	width: 200px;
   	padding: 5px 5px;
    margin-left:5px;
    margin-top:20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
}

input[id=textfield_password],select{
	
	float:left;
	width: 200px;
   	padding: 5px 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
}

label[for=login_password]{
	float:left;
	color:white;
	clear:left;
	padding:10px;
	margin-top:8px;

}

label[for=login_user]{
	clear:left;
	float:left;
	color:white;	
	padding:10px;
	margin-top:10px;
}

footer{
    
   min-height: 200px;
    min-width: 100%;
    background-color: gainsboro;
}

@media screen and (min-width: 700px) {
     #logo{
            display:block;
     }
 
}  
