
body {
	min-width: 520px;
	background-color: #edf8fd;
	font-family: "Segoe UI", sans-serif; 
	font-size: 20px;
}

#page {
	min-height: 1000px;
	min-width: 100%;
}

#title{
	font-size: 50px;
	font-weight: bolder;
	line-height: 60px;
	padding:50px;
	min-height: 50px;
}

#subtitle{
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin-left: 70px;
	min-height: 50px;
}


#username {
	
	clear:both;
	margin-left:90px;
	font-size: 16px;
	line-height: 30px;
}

#email {
	float:left;
	margin-left:90px;
	font-size: 16px;
	line-height: 30px;
}
#change_email{
	float:left;
	margin-top:5px;
	margin-left:15px;
	padding:4px;
	color: white;
	background-color:black;
	font-size:10px;
	
}



#newEmail_wrapper{
	display: none;
	margin-top:30px;
	margin-left:150px;
	max-width: 300px;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[id=newEmailText1],select{
	clear:both;
	float:left;
	width: 200px;
   	padding: 5px 5px;
    margin-left:5px;
    margin-top:20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
